body {
  background-color:rgb(0, 0, 0)
}
.search-text
{
  width: "500px" !important
}
.columsArea
{
  
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  min-height : 250px;
}
text
{
  color: white;
}